*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Windows VS
windows/codebase/vs_install/Deployment/bin/*
windows/codebase/vs_install/Deployment/obj/*
windows/codebase/vs_uninstall/uninstall_clean/uninstall_clean/bin/*
windows/codebase/vs_uninstall/uninstall_clean/uninstall_clean/obj/*
windows/codebase/vs_chrome_uninstall/ChromeUninstall/ChromeUninstall/bin/*
windows/codebase/vs_chrome_uninstall/ChromeUninstall/ChromeUninstall/obj/*
windows/codebase/vs_setup/Subutai/Subutai/Debug/*
windows/codebase/vs_setup/Subutai/Subutai/Release/*
windows/codebase/installation_files/redist/Framework/*

